.RecipesList .sub-categoriseList-table button{
    border: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background: none;
    gap: .4rem;
}
.RecipesList .sub-categoriseList-table img{
    width: 50px;
    border-radius: .2rem;
}
@media (max-width : 992px) {
    
    .categoriseList .search{
        display: flex !important;
        flex-direction: column !important;
    }
    .categoriseList .search > div{
        width: 80%
    }
}
@media (max-width : 450px) {
    .categoriseList .search > div{
        width: 100%
    }

}