.categoriseList .sub-categoriseList-title{
    background-color:transparent;
    margin: 1rem 0;
    border-radius: 15px;
}
@media (max-width : 580px) {
    .categoriseList .sub-categoriseList-title{
        flex-direction: column !important;
        gap: 1rem !important;
    }
}
.categoriseList .sub-categoriseList-title > div{
    text-transform: capitalize;
}
.categoriseList .sub-categoriseList-title > div h4{
    color: #1F263E;
    font-family: "Roboto" ,sans-serif;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}
.categoriseList .sub-categoriseList-title > div span{
    font-family: "Roboto" ,sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin: 0 1rem;
    letter-spacing: 0;
    text-transform: capitalize ;
    color: #009247;
    display: inline-block;
}
.categoriseList .sub-categoriseList-title > div p{
    font-family: "Roboto" ,sans-serif;
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #323C47;
}
.add-categoriseList-button.btn.btn-primary,
.categoriseList .sub-categoriseList-title button{
    background-color: #009247;
    font-family: "Inter" ,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    padding: 13px 2rem;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-transform: capitalize;
}

.categoriseList .sub-categoriseList-title  button img{
    width: 22px;
}
.categoriseList .sub-categoriseList-table table {
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}
.categoriseList .sub-categoriseList-table  table thead{
    
    background-color: #E2E5EB;
   margin-bottom: 5px;
    border-radius: 15px;
}
.categoriseList .sub-categoriseList-table  table thead th{
    padding: 1rem;
}
.categoriseList .sub-categoriseList-table  table tbody tr td{
    font-family: "Poppins";
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #3A3A3D;
    padding: 1rem;
    position: relative;

}
.categoriseList .sub-categoriseList-table  table tbody tr:nth-child(even){
    /* background-color: red; */
    background-color: #F8F9FB;
}
.categoriseList .listIcon{
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.categoriseList .list{ 
    display: none;
    /* display: flex; */
    position: absolute;
    background-color: #fff;
    padding: 19px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px 0px #0000001A;
    right: 0;
    width: 100%;
    z-index: 2;
}
.categoriseList .sub-categoriseList-table table tbody tr td:hover .list{
    display: flex;
}
.categoriseList .list div{
    display: flex;
    gap: .3rem;
    cursor: pointer;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
} 
.categoriseList .list::before{
    content: "";
    position: absolute;
    top: -17px;
    height: 0;
    width: 0;
    right: 50%;
    transform: translateX(50%);
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    box-shadow: 0px 0px 16px 0px #f5f2f21a;
}
.categoriseList .list .btn.btn-primary{
    background: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #000;
    padding:0;
    gap: .3rem;
}
.categoriseList .list .subIcon{
    
    color: #009247;
}
.categoriseList .list div span{
    font-family: "Poppins" ,sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}