.auth-container{
    background-image: url("assets/image/bg-auth.png");
    background-size: cover;
    background-position: center center;

}
.bg-overlay{
    background: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);
  

}